h1
{
    background: url("title_bg.gif") repeat;
    margin: 0%;
    padding: 20px;
    font-size: 20px;
    color: white;
}
h2
{
    color: red;
    margin: 30px;
}
h3
{
    color: rgb(0, 89, 255);
    margin: 20px;
}
li
{
    cursor: pointer;
    margin: 12px;
}
ul
{
    padding-left: 0;
    list-style-position: inside;
}
body
{
    margin : 0;
    background: url("bg.png") repeat;
    font-size: 14px;
    text-align: center;
}